body {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.image-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
}

.image-cropper img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.center-text {
  text-align: center;
  align-self: center;
}

.center-text div img {
  margin-left: 8px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}
.center-content {
  justify-content: left;
  align-items: center;
}

a {
  text-decoration: none;
}
span a {
  color: rgb(138, 180, 248);
}

span a:hover {
  text-decoration: underline;
}

.location {
  margin-top: 10px;
}
.emoji {
  height: 1.5em;
  width: 1.5em;
}

.contacts {
  width: 110px;
  margin: 12px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contacts i {
  display: inline-flex;
}

a i {
  color: rgb(189, 193, 198);
}
a i:hover {
  color: rgb(138, 180, 248);
}

.dark-mode {
  background-color: #333;
  color: #ddd;
}

.dark-mode a {
  color: #ddd;
}

[data-theme='dark'] {
  background-color: #333;
  color: #ddd;
}

[data-theme='dark'] a {
  color: #ddd;
}

[data-theme='light'] {
  background-color: #fff;
  color: #333;
}

[data-theme='light'] a {
  color: #333;
}
