body {
  font-family: 'Roboto', sans-serif;
}
:root {
  --link-color: #8ab4f8;
}

.main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.image-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
}

.image-cropper img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.horizontal {
  display: flex;
  align-items: center;
  gap: 5px;
}

a {
  text-decoration: none;
  color: unset;
}

.blue {
  color: var(--link-color);
}

span a:hover {
  text-decoration: underline;
}

.contacts {
  width: 110px;
  margin: 12px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.contacts i {
  display: inline-flex;
}

i {
  color: rgb(189, 193, 198);
}
a i:hover {
  color: var(--link-color);
}

[data-theme='dark'] {
  background-color: #333;
  color: #ddd;
}

[data-theme='light'] {
  background-color: #fff;
  color: #333;
}
